* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    
  }
  
  h1{
    font-family: 'Inter';
    font-size: 64px;
  }
  h2{
    font-family: 'Inter';
    font-size: 32px;
  }
  h3{
    font-family: 'Inter';
    font-size: 16px;
  }
  
  header{
    text-align:center;
    vertical-align:middle;
    font-family: 'Inter';
    font-size: 14px;    
    background-color:#BCD3BA;
    color:#00ab61;
    
  }
  nav{
    background-color:#77E37A;
    text-align:center;
    vertical-align:middle;
    font-family: 'Inter';
    font-size: 14px;
    padding:2px;
    top: 0; 
    width: 100%;
    position: fixed;
    

  }
  nav a{
    background-color:#00ab61;
    text-decoration: none;  
    cursor: pointer;
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
    margin: 20px;
    color:white;
    padding:2px;
        
  }

  nav a:hover{
    background-color:#9393da;
  }

  section{
    background-color:#BCD3BA;
    text-align:center;
    font-family: 'Inter';
    font-size: 14px;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
    
  }
  
  article{
    text-align:center;
    vertical-align:middle;
    font-family: 'Inter';
    font-size: 14px;
    width:70%;
    position:relative;
    float:left;    
    margin:10px;
  }
  aside{
    background-color:#E9F8E8;
    text-align:left;
    font-family: 'Inter';
    font-size: 14px;
    position:relative;
    float:right;
    width:25%;
    
  }

  aside a{
    text-decoration: none;
  }

  aside a:hover{
    color:black;
  }

  ul{
    list-style-type: none;
  }

  p{
    text-align:center;
    vertical-align:middle;
    font-family: 'Inter';
    font-size: 14px;
  }

  form{
    background-color:#BCD3BA;
    text-align:center;
    vertical-align:middle;
    font-family: 'Inter';
    font-size: 14px;
  } 
  
  table{
    background-color:#BCD3BA;
    text-align:center;
    vertical-align:middle;
    font-family: 'Inter';
    font-size: 14px;
    width:100%;
    border-collapse: collapse;
    border:1px black solid;    
    table-layout: auto;
  }
  th, td {
    border:1px black solid;
    padding: 10px;    
  }
   

   /* filas pares */
   tr:nth-child(even) {
  background-color: #c8c8c8; 
  }

  /* filas impares */
  tr:nth-child(odd) {
    background-color: #ffffff;
  }

  tr:first-child{
    background-color: #00ab61;
   }

  footer{
    background-color:#a6c2a7;
    text-align:center;
    vertical-align:middle;
    font-family: 'Inter';
    font-size: 14px;
    position: relative;
    clear: both;
  }
  footer a {
        text-decoration: none;
    }
    footer a:hover {
        color:white;
    }

  
  #whatsapp{
    position: absolute;
    bottom: 0; 
    right: 0;     
  }  

   

 